/* Start Global Rules */
:root{
    --main-color: #3db7ea;
    --secondary-color: #2c4755;
    --section-padding: 60px;
    --section-background: #f6f6f6;
}

*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: "Work Sans", sans-serif;
}

.container{    
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    display: block;
}

/* Mobile */
@media (max-width: 767px) {
    .container{    
        width: 100%;
    }
}

/* Small Screen */
@media (min-width: 768px) {
    .container{    
        width: 600px;
    }
}

/* Medium Screen */
@media (min-width: 992px) {
    .container{    
        width: 970px;
    }
}

/* Large Screen */
@media (min-width: 1200px) {
    .container{    
        width: 1170px;
    }
}
/* End Global Rules */

/* Start companent */
.special-hedding{
    color: #ebeced;
    font-size: 100px;
    text-align: center;
    font-weight: 800;
    letter-spacing: -3px;
    margin: 0;
}

.special-hedding + p{
    margin: -30px 0 0;
    font-size: 20px;
    text-align: center;
    color: #797979;
}

@media(max-width: 767px){
    .special-hedding{
        font-size: 60px;
    }

    .special-hedding + p{
        margin: -20px;
    }
}
/* End companent */

/* Start Header */
.header{
    padding: 20px;
}

.header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .logo{
    width: 60px;
}

.header .links{
    position: relative;
}

.header .links:hover .icon span:nth-child(2){
    width: 100%;
}

.header .links .icon{
    width: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.header .links .icon span{
    background-color: #333;
    margin-bottom: 5px;
    height: 2px;
    width: 100%;
}

.header .links .icon span:nth-child(2){
    width: 60%;
    transition: 0.3s;
}

.header .links ul{
    list-style: none;
    margin: 0px;
    padding: 0px;
    position: absolute;
    right: 0px;
    min-width: 200px;
    top: calc(100% + 20px);
    background-color: var(--section-background);
    display: none;
    z-index: 1;
}

.header .links ul::before{
    content: '';
    width: 0px;
    position: absolute;
    border-width: 10px;
    border-style: solid;
    border-color: var(--section-background) transparent transparent transparent;
    right: 5px;
    top: -20px;
}

.header .links:hover ul{
    display: block;
}

.header .links ul li a{
    display: block;
    padding: 15px;
    text-decoration: none;
    color: #222;
    transition: 0.3s;
}

.header .links ul li a:hover{
    padding-left: 25px;
}

.header .links ul li:not(:last-child) a{
    border-bottom: 1px solid #ddd;
}
/* End Header */

/* Strat Landing */
.landing{
    background-image: url(../Images/Screenshot_2019-08-19-11-03-54.jpg);
    background-size: cover;
    height: calc(100vh - 100px);
    position: relative;
}

.landing .intro-text{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 450px;
    max-width: 100%;
    z-index: 1;
}

.landing .intro-text h1{
    margin: 0px;
    font-weight: bold;
    font-size: 50px;
    color: var(--main-color);
}

.landing .intro-text p{
    font-size: 19px;
    line-height: 1.8;
}
/* End Landing */

/* Start Features */
.features{
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: var(--section-background);
}

.features .container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}

.features .feature-item{
    padding: 20px;
    text-align: center;
}

.features .feature-item i{
    color: var(--main-color);
    font-size: 45px;
}

.features .feature-item h3{
    font-weight: 800px;
    margin: 30px 0;
}

.features .feature-item p{
    line-height: 1.4;
    color: #777;
    font-size: 17px;
    margin: -10px;
}
/* End Features */

/* Start Services */
.services{
    padding-top: var(--section-padding);    
    padding-bottom: var(--section-padding);    
}

.services .services-content{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
    margin-top: 100px;
}

.services .services-content .srv{
display: flex;
margin-bottom: 40px;
}

@media (max-width: 767px){
    .services .services-content .srv{
        flex-direction: column;
        text-align: center;
    }
}

.services .services-content .srv i{
    color: var(--main-color);
    flex-basis: 60px;
}

.services .services-content .srv .text{
    flex: 1;
}

.services .services-content .srv .text{
    flex: 1;
}

.services .services-content .srv .text h3{
    margin: 0 0 20px;
}

.services .services-content .srv .text p{
    color: #444;
    font-weight: 300;
    line-height: 1.6;
}

.services .container .services-content .srv .image{
    text-align: center;
    position: relative;
}

.services .container .services-content .srv .image::before{
    content: '';
    position: absolute;
    right: -50px;
    background-color: var(--secondary-color);
    width: 100px;
    height: calc(100% + 100px);
    top: -50px;
    z-index: -1;
}

.services .container .services-content .srv .image img{
    width: 260px;
}

@media (max-width: 1199px){
    .image-in-srv{
        display: none;
    }
}
/* End Services */

/* Start Protofolio */
.protofolio{
    background-color: var(--section-background);
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}

.protofolio .protofolio-content{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
    margin-top: 100px;
}

.protofolio .protofolio-content .card{
    background-color: white;
}

.protofolio .protofolio-content .card img{
    max-width: 100%;
}

.protofolio .protofolio-content .card .info{
    padding: 20px;
}

.protofolio .protofolio-content .card .info h3{
    margin: 0;
}

.protofolio .protofolio-content .card .info p{
    color: #777;
    line-height: 1.6;
    margin: 0;
}
/* EndProtofolio */

/* Start About */
.about{
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}

.about .about-content{
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

@media (max-width:991px){
    .about .about-content{
        flex-direction: column;
        text-align: center;
    }
}
.about .about-content .image{
    position: relative;
    width: 250px;
    height: 375px;
}

@media (max-width:991px){
    .about .about-content .image{
        margin: 0 auto 60px;
    }
}

.about .about-content .image::before{
    content: '';
    position: absolute;
    width: 100px;
    height: calc(100% + 100px);
    background-color: #ebeced;
    top: -40px;
    left: -20px;
    z-index: -1;
}

.about .about-content .image::after{
    content: '';
    position: absolute;
    height: 300px;
    width: 120px;
    border-left: 80px solid var(--main-color);
    border-bottom: 80px solid var(--main-color);
    z-index: -1;
    right: -150px;
    top: -40px;
}

@media (max-width:991px){
    .about .about-content .image::after,
    .about .about-content .image::before{
        display: none;
    }
}

.about .about-content .image img{
    max-width: 100%;
}

.about .about-content .text{
    flex-basis: calc(100% - 500px);
    /*
    or we can rite this two lines
    flex: 1;
    padding-left: 200px;
    */
}

.about .about-content .text p:first-of-type{
    font-weight: bold;
    line-height: 2;
    margin-bottom: 50px;
}

.about .about-content .text hr{
    width: 50%;
    border-color: var(--main-color);
    display: inline-block;
}

.about .about-content .text p:last-of-type{
    line-height: 2;
    color: #777;
}
/* End About */

/* Start Contact */
.contact{
    background-color: var(--section-background);
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}
.contact .info{
    background-color: var(--section-background);
    padding-top: var(--section-padding);
    text-align: center;
}

.contact .info .label{
    font-size: 40px;
    font-weight: 800;
    color: var(--secondary-color);
    letter-spacing: -2px;
    margin-bottom: 15px;
}

.contact .info .link{
    display: block;
    font-size: 40px;
    font-weight: 800;
    color: var(--main-color);
    text-decoration: none;
}

.contact .info .social{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-size: 16px;
}

.contact .info .social i{
    margin-left: 10px;
    color: var(--secondary-color);
}

@media (max-width:767px){
    .contact .info .link,
    .contact .info .label{
        font-size: 25px;
    }
}
/* End Contact */

/* Start Footer */
.footer{
    background-color: var(--secondary-color);
    color: white;
    padding: 30px 10px;
    text-align: center;
    font-size: 18px;
}

.footer .span{
    font-weight: bold;
    color: var(--main-color);
}
/* End Footer */